@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-display: "Roboto Condensed", "sans-serif";
  --color-primary: #0b1e3f;
  --color-accent: #00bc7d;
  --color-secondary: #798cab;
  --color-secondary-light: #e5e7eb;

  --color-neutral-100: #f9fafb;
  --color-neutral-200: #ffffff;
  --color-neutral-500: #6b7280;
  --color-neutral-800: #111827;
  --color-border: #d1d5db;

  --color-tag-bg: #e0e7ff;
  --color-tag-text: #3730a3;
}

@layer components {
  .inputBox {
    @apply w-full pl-10 pr-3 py-2 bg-white border-b border-gray-300 text-gray-900 placeholder-gray-400 focus:outline-none focus:border-gray-500;
  }
  .authButton {
    @apply bg-gradient-to-r from-blue-600 to-pink-700 h-10 text-white font-bold rounded-full w-1/2;
  }
}

@layer base {
  html {
    font-family: var(--font-display);
  }
}
